.result{
  width: 100%;
  color: black;
  background-color: #cac0c0;
  text-align: center;
  font-weight: bold;
  

}
.result td{
  border: 1px;
  border-radius: 5px;
  background-color: yellowgreen;
  height: 50px;
  
}


