.result{
  width: 100%;
  color: black;
  background-color: #d7472b;
  text-align: center;
  font-weight: bold;
}
.result td{
  border: 1px;
  border-radius: 5px;
  background-color: yellowgreen;
}


