.result{
  width: 100%;
  color: black;
  background-color: #e6c4bd;
  text-align: center;
  font-weight: bold;
}
.result td{
  border: 1px;
  border-radius: 5px;
  background-color: yellowgreen;
  height: 50px;
}